// src/shared/ui/MultiContainer.module.scss
.container {
    max-width: 1319px; // Figma боюнча
    margin: 0 auto;
    padding: 0 16px; // Ошол эле Figma'да көрүнгөндөй
    width: 100%;
  }
  