.UpcomingEvents {
  padding: 40px 0px 30px 30px !important; 
  margin-bottom: 24px;
  margin: auto;

  @media (min-width: 1320px) {
     max-width: 1340px; 
     }
  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 25px;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  .swiperWrapper {
    position: relative;
    display: flex;
    align-items: center;

    .customArrow {
      position: absolute;
      background-color: #2e6cf4;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      z-index: 10;
   @media (max-width: 480px) {
     width: 20px !important;
      height:20px !important;
   }
      &:hover {
        background-color: #1d4bbf;
        transform: scale(1.1);
      }

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    .customArrow:first-of-type {
      margin-right: 10px;
       top: 130px;
      left: -20px; 
      @media (max-width: 1024px) {
        top: 100px;
      }
      @media (max-width: 650px) {
        top: 80px;
      }
      @media (max-width: 480px) {
        top: 60px;
          left: -10px; 
      }
      @media (max-width: 400px) {
        top: 50px;
          left: -10px; 
      }
    }

    .customArrow:last-of-type {
        top: 130px;
      right: 20px;
      @media (max-width: 1024px) {
        top: 100px;
      }
        @media (max-width: 650px) {
        top: 80px;
      }
      @media (max-width: 480px) {
        top: 60px;
          right: 10px; 
      }
      @media (max-width: 400px) {
        top: 50px;
          right: 10px; 
      }
    }

    @media (max-width: 480px) {
      .customArrow {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
    }
  }

  .swiper {
    width: 100%;
  }
}
