.footer {
  background-color: #111111;
  color: #fff;
  padding: 40px 0px;
  height: 474px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 480px) {
    .brandInfo {
      display: none;
    }
  }
  .nav4 {
    display: none;
    div {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      gap: 40px;
      justify-content: center;
      align-items: center;
      button {
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 1212;
        &:hover {
          color: #2e6cf4 !important;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .nav4 {
      display: block;
    }
  }
  .Footer_footerContent__0zAR1 {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 152px;
    height: auto;
  }
  .logo1 {
    width: 162px;
    margin: 0 auto;
  }
  @media (min-width: 480px) {
    .logo1 {
      display: none;
    }
  }
  .copyright {
    margin-top: 21rem;
    font-size: 14px;
    opacity: 0.8;

    @media (max-width: 780px) {
      display: none;
    }
  }

  .policyLinks {
    font-size: 12px;
    opacity: 0.7;

    @media (max-width: 780px) {
      display: none;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footerNav {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    z-index: 12;
    @media (max-width: 980px) {
      flex-wrap: wrap;
      justify-content: left;
    }
    @media (max-width: 480px) {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 0px;
      flex-wrap: nowrap;
    }
  }

  .navSection {
    @media (max-width: 480px) {
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
    }
    .navList {
      list-style: none;
      margin: 0;
      li {
        padding: 8px 0;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
        @media (max-width: 480px) {
          .text {
            font-size: 16px;
          }
        }
      }
    }

    .navLink {
      color: #fff;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #ddd;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 780px) {
  .footer {
    margin: 0 auto;
    height: auto;

    .footerContent {
      flex-direction: column;
    }
  }
}

.brandInfo1 {
  margin-top: -300px;

  .copyright1 {
    margin-top: 21rem;
    font-size: 14px;
    opacity: 0.8;
  }

  .policyLinks1 {
    font-size: 12px;
    opacity: 0.7;
    line-height: 20px;
    @media (max-width: 480px) {
      font-size: 8px;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 780px) {
  .brandInfo1 {
    display: none;
  }
}
