.Footer {
  padding-block: 60px;
  background: #111111;
  color: white;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 870px) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 40px;
    }

    .leftBox {
      flex: 0 0 280px;

      @media (max-width: 871px) {
        flex: 0 0 auto;
        width: 100%;
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 36px;

        @media (max-width: 870px) {
          align-items: center;
          flex-direction: column;
          gap: 25px;
        }

        .img {
          width: 100%;
          max-width: 120px;
          height: auto;
          @media (max-width: 870px) {
            max-width: 180px;
            margin: 0 auto;
            order: 2;
          }
        }

        .mobileIcons {
          display: none;

          @media (max-width: 870px) {
            display: flex;
            justify-content: center;
            gap: 25px;
            order: 1;
            margin-bottom: 10px;
            color: #fff;
          }
        }

        .description {
          font-size: 13px;
          color: #888888;
          line-height: 1.6;

          @media (max-width: 870px) {
            order: 3;
            margin-top: 10px;
          }
        }
      }
    }

    .rightBox {
      flex: 1;

      .right {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 20px;

        @media (max-width: 1240px) {
          grid-template-columns: repeat(3, 1fr);
          gap: 40px 20px;
        }

        @media (max-width: 870px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
          width: 100%;
          margin-bottom: 20px;
        }

        .column {
          &.desktopOnly {
            @media (max-width: 870px) {
              display: none;
            }
          }

          h4 {
            font-size: 14px;
            margin-bottom: 15px;
            color: rgba(255, 255, 255, 0.6);
          }

          .navList {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .link a {
              color: #fff;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
