.projectSection {
  padding: 40px 20px;
  max-width: 1320px;
  margin: 0 auto;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 50px;
}

.projectGrid {
  display: flex;
  flex-wrap: wrap;      
  gap: 30px;          
  justify-content: center;
}

.projectCard {
  flex: 1 1 400px; 
  

  max-width: 424px; 
  min-height: 580px;
  
  background: var(--main-white);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.projectImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.cardContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardTitle {
  text-align: center;
  margin-bottom: 12px;
}

.cardDescription {
  flex-grow: 1; 
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24px;
}

.learnMoreButton {
  width: 100%;
  height: 52px;
  background-color: #3b82f6; 
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2563eb;
  }
}


@media (max-width: 480px) {
  .projectCard {
    flex-basis: 100%; 
    max-width: 100%;
    min-height: auto;
  }
  
  .projectImage {
    height: 250px;
  }
}