.card {
  background-color: #c1d3fc;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  img {
    width: 100%;
    border-radius: 8px;
  }
  .Footercard {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    gap: 10px;
    .date {
      width: clamp(37px, 8vw, 90px);
      height: clamp(37px, 8vw, 90px);
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ebf1fe;
      border-radius: 100%;
      p {
        font-size: clamp(8px, 1.8vw, 20px);
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 480px) {
        gap: 5px;
      }
      h3 {
        font-size: clamp(9px, 1.8vw, 20px);
      }
      p {
        font-size: clamp(7px, 1.45vw, 16px);
      }
    }
  }
}
