.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

.container__header {
  flex-direction: column;
  display: flex;
  gap: 16px;
  width: 100%;
}

.title,
.description {
  text-align: center;
}

.ImageWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.bigImage,
.smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .ImageWrapper {
    grid-template-columns: 1fr;
  }
  .smallImage {
    display: none;
  }
}
