:root {
 --dark-blue: #2E6CF4;     
  --dark-blue-100: #EBF1FE; 
  --dark-blue-200: #D5E2FD; 
  --dark-blue-300: #C1D3FC;
  --dark-blue-400: #ABC4FB; 
  --dark-blue-500: #97B6FA;
  --dark-blue-600: #82A7F8; 
  --dark-blue-700: #6D99F8; 
  --dark-blue-800: #5889F6; 
  --dark-blue-900: #437BF6;
  --blue: #0096C7;      
  --blue-100: #E6F5FA;  
  --blue-200: #CCEAF4;  
  --blue-300: #B3E0EF;  
  --blue-400: #99D5E9;  
  --blue-500: #80CBE3;   
  --blue-600: #66C0DD;  
  --blue-700: #4DB6D8;  
  --blue-800: #33ABD2;  
  --blue-900: #1AA1CD;
  --green: #2DC653;     
  --green-100: #EAFAEE; 
  --green-200: #D5F4DD; 
  --green-300: #C0EECC; 
  --green-400: #ABE8BA; 
  --green-500: #96E3A9; 
  --green-600: #81DD98; 
  --green-700: #6CD887; 
  --green-800: #57D175; 
  --green-900: #42CC65;
  --main-black: #111111;    
  --main-black-100: #E8E8E8; 
  --main-black-200: #CFCFCF; 
  --main-black-300: #B8B8B8; 
  --main-black-400: #A0A0A0; 
  --main-black-500: #888888; 
  --main-black-600: #707070; 
  --main-black-700: #595959; 
  --main-black-800: #414141; 
  --main-black-900: #292929;
  --main-white: #FFFFFF;
}