.brand {
  padding-bottom: 40px;
  .headMaterials {
    display: flex;
    align-items: start;
    padding-bottom: 40px;
    @media (max-width: 480px) {
      padding-bottom: 20px;
    }
    h1 {
      font-size: clamp(20px, 3.6vw, 40px);
      font-weight: 600;
    }
  }
  .itemMaterialCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: 977px) {
      grid-template-columns: repeat(3, 1fr);
    }
    .materialCard {
      padding: 10px;
      box-shadow: 0px 3px 3px 3px #20202210;
      border-radius: 12px;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        @media (max-width: 480px) {
          border-radius: 10px;
        }
      }
      .cardTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h4 {
          padding-block: 12px;
          font-weight: 500;
          font-size: clamp(12px, 2.3vw, 25px);
        }
        p {
          font-size: clamp(10px, 2vw, 22px);
          font-weight: 400;
          letter-spacing: 3px;
        }
      }
    }
  }
}
