.detailview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
  @media (max-width: 480px) {
    padding-top: 20px;
  }
  .view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 660px) {
      display: grid;
      grid-template-columns: 1fr;
    }
    .titleMobile {
      display: none;
      text-align: center;
      @media (max-width: 660px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h1 {
          font-weight: 600;
          font-size: 24px;
        }
        h4 {
          font-weight: 400;
          font-size: 14px;
          color: #111111a7;
        }
      }
    }
    .gallerry {
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 100%;
        height: auto;
        max-height: 550px;
        border-radius: 20px;
        object-fit: cover;
      }
      .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        img {
          flex: 1 1 30%;
          max-width: 210px;
          height: auto;
          border-radius: 20px;
          object-fit: cover;
        }
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        @media (max-width: 660px) {
          display: none;
        }
        h1 {
          font-weight: 600;
          font-size: 35px;
        }
        h4 {
          font-weight: 400;
          font-size: 20px;
          color: #111111a7;
        }
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 30px;
          font-weight: 600;
        }
        p {
          font-size: 28px;
          font-weight: 600;
          border: 1.5px solid #111;
          padding: 8px 12px;
          border-radius: 10px;
        }
        @media (max-width: 660px) {
          h2 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            border: 1.5px solid #111;
            padding: 8px 12px;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .materials {
  }
}
