.movement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: clamp(20px, 3.6vw, 40px);
  gap: 20px;
  .title {
    font-size: clamp(20px, 3.6vw, 40px);
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    @media (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
  .bodyText {
    font-size: clamp(12px, 1.8vw, 20px);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: 480px) {
      margin-bottom: 0px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 424px));
    gap: 30px;
    margin-inline: 45px;
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, minmax(0, 424px));
    }
    .card {
      position: relative;
      padding: 45px 40px 40px;
      background: #abc4fb;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      margin-top: 20px;
      @media (max-width: 950px) {
        gap: 10px;
        margin-top: 10px;
        padding: 35px 30px 30px;
      }
      h4 {
        font-size: clamp(14px, 1.8vw, 20px);
        font-weight: 400;
      }
      p {
        font-size: clamp(10px, 1.45vw, 16px);
      }
      .circleCard {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: #abc4fb;
        border: 10px solid #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 700px) {
          width: 30px;
          height: 30px;
        }
        div {
          background: #d5e2fd;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          @media (max-width: 700px) {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}
